.embla {
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
  overflow: hidden;
}

.emblaSlide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.embla button {
  margin: 5px;
}

.emblaDots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.emblaDot {
  width: 150px;
  height: 5px;
  background-color: #dddddd7a;
  border-radius: 5%;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.emblaDot.isSelected {
  background-color: #535bf25b;
}
