.mainArea {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.mainArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 150vh;
  background: linear-gradient(
    250deg,
    rgb(204, 204, 204) 20%,
    rgb(230, 230, 230) 40%,
    rgb(104, 103, 103) 60%,
    rgb(42, 42, 42) 80%
  );
  animation: gradientAnimation 15s ease infinite;
  background-size: 400% 400%;
  border-radius: 20px;
  margin-top: 30px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 70% 70%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.optionGallery {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.optionGallery h1 {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0px;
  letter-spacing: 15px;
}

.optionGallery p {
  font-size: 10px;
}

.leftSide,
.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.leftSide {
  border-radius: 20px;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
  animation: hoverColorOut 0.5s;
}

.rightSide {
  border-radius: 20px;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  animation: hoverColorOut 0.5s;
}

.leftSide:hover {
  animation: hoverColor 0.5s forwards;
}
.rightSide:hover {
  animation: hoverColor 0.5s forwards;
}

@keyframes hoverColor {
  from {
    background-color: "";
  }
  to {
    background-color: #5885ff43;
  }
}

@keyframes hoverColorOut {
  from {
    background-color: #5885ff43;
  }
  to {
    background-color: "";
  }
}

/* Trennlinie in der Mitte */
.optionGallery::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  transform: translateX(-50%);
}

.storeButton {
  margin-top: 10px;
}
