.Navbar {
  margin-bottom: 0px;
}

.galleryMainArea {
  margin-bottom: 100px;
  transition: transform 1s ease-in-out;
}

@keyframes slide-from-left {
  from {
    transform: translateY(50vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mainArea {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.mainArea h1 {
  color: #878dff;
}

.mainArea p {
  color: aliceblue;
}

.mainArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 150vh;
  background: linear-gradient(
    250deg,
    rgb(204, 204, 204) 20%,
    rgb(230, 230, 230) 40%,
    rgb(104, 103, 103) 60%,
    rgb(42, 42, 42) 80%
  );
  animation: gradientAnimation 15s ease infinite,
    slide-from-left 1s ease-out forwards;
  background-size: 400% 400%;
  border-radius: 20px;
  margin-top: 50px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 70% 70%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.optionGallery {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.optionGallery h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
  letter-spacing: 15px;
}

.optionGallery p {
  font-size: 10px;
  letter-spacing: 1px;
}

.leftSide,
.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.leftSide {
  border-radius: 20px;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
  animation: hoverColorOut 0.5s;
}

.rightSide {
  border-radius: 20px;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  animation: hoverColorOut 0.5s;
  width: 75vh;
  height: 20vh;
}

.leftSide:hover {
  animation: hoverColor 0.5s forwards;
}
.rightSide:hover {
  animation: hoverColor 0.5s forwards;
}

@keyframes hoverColor {
  from {
    background-color: "";
  }
  to {
    background-color: #5885ff43;
  }
}

@keyframes hoverColorOut {
  from {
    background-color: #5885ff43;
  }
  to {
    background-color: "";
  }
}

/* Trennlinie in der Mitte */
.optionGallery::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  transform: translateX(-50%);
}

.storeButton {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 150vh;
  background: linear-gradient(
    250deg,
    rgb(186, 218, 255) 20%,
    rgb(230, 230, 230) 40%,
    rgb(104, 116, 151) 60%,
    rgb(255, 255, 255) 80%
  );
  animation: gradientAnimation 15s ease infinite,
    slide-from-left 1.2s ease-out forwards;
  background-size: 400% 400%;
  border-radius: 20px;
  margin-top: 50px;
}

.storeButton h2 {
  font-weight: 400;
  color: rgb(253, 253, 253);
  margin-bottom: 0px;
}

.p1 p {
  margin-top: 0px;
  color: #646cff;
  font-size: 12px;
  letter-spacing: 1px;
}

.p2 p {
  margin-top: 0px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  max-width: 100vh;
}

.storeButton button {
  width: 40vh;
  border-radius: 20px;
  color: #ffffff;
}

@keyframes slide-left {
  from {
    transform: translateX(0vw);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0vw);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes slide-store {
  0% {
    transform: translateY(0vh);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.slideLeft {
  animation: slide-left 1s ease-in-out forwards;
}

.slideRight {
  animation: slide-right 1s ease-in-out forwards;
}

.slideStore {
  animation: slide-store 1s ease-in-out forwards;
}
