.mainContainer {
  display: flex;
  flex-direction: column;
}

.mainPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.PolitikGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.item1,
.item2,
.item3 {
  width: 80%;
  height: 100%;
  object-fit: cover;
  justify-self: end;
}

.item4 {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  width: 90%;
  height: 100%;
  object-fit: cover;
}
