:root {
  overflow: hidden;
}

.card {
  padding: 2em;
}

.readTheDocs {
  color: #888;
}

.mainArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 150vh;
  background: linear-gradient(
    250deg,
    rgb(204, 204, 204) 20%,
    rgb(230, 230, 230) 40%,
    rgb(104, 103, 103) 60%,
    rgb(42, 42, 42) 80%
  );
  animation: gradientAnimation 15s ease infinite;
  background-size: 400% 400%;
  border-radius: 20px;
  margin-top: 40px;
  border: 2px solid;
  border-color: #dedede;
  margin-bottom: 0px;
  box-sizing: border-box;
  position: relative;
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 70% 70%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.mainAreaTitle h1 {
  text-align: center;
  margin-bottom: 0;
}

.mainAreaTitle p {
  margin-top: 3px;
  font-size: 16px;
}

.mainAreaTitle h1:hover {
  animation: fade-text-color 1s;
  animation-fill-mode: forwards;
}

.mainAreaTitle h1 {
  animation: fade-text-color-back 1s forwards;
}

@keyframes fade-text-color {
  0% {
    color: "";
  }
  100% {
    color: #535bf2;
  }
}

@keyframes fade-text-color-back {
  from {
    color: #535bf2;
  }
  to {
    color: aliceblue;
  }
}

.linkToGitHub img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin: 10px;
}

.linkToGitHub img:hover {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  animation: scaleSmoothIn 0.5s;
  animation-fill-mode: forwards;
}

.linkToGitHub img {
  animation: scaleSmoothOut 0.5s;
}

@keyframes scaleSmoothIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes scaleSmoothOut {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
