.mainContainer {
  color: #888;
}

.mainContainer h1 {
  opacity: 0;
  animation: slideDown 1s ease-out forwards;
  letter-spacing: 10px;
  font-weight: 600;
  font-size: 30px;
  margin-top: 30px;
  color: #b1b1b1;
}

.searchBarContainer {
  opacity: 0;
  animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.containerItem {
  display: flex;
  max-width: 150vh;
  margin: 10px;
  background-color: #adadad0c;
  border-radius: 15px;
  height: 15vh;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-40%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.infoText {
  max-width: 50vh;
  font-size: 13px;
  margin-left: 40px;
  margin-right: 40px;
}

.nameHeader {
  margin-left: 40px;
  margin-right: 40px;
}

.containerItem img {
  width: 15vh;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
}

.priceTag {
  margin-left: auto;
  text-align: right;
  margin-right: 20px;
}
