.seperationDiv {
  margin-bottom: 10px;
}

.titleText h1 {
  color: #849afa;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 10px;
}

.barText h4 {
  color: #849afa;
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: 30px;
}

.barText label {
  margin-left: 270px;
  margin-right: 80px;
}

.containerListItems img {
  width: 15vh;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
}

.barText {
  display: flex;
}

.containerList {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 #f1f1f1;
  margin-right: 100px;
  scrollbar-width: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
}

.containerListItems {
  display: flex;
  margin: 10px;
  background-color: #adadad0c;
  border-radius: 15px;
  width: 100vh;
  height: 15vh;
  align-items: center;
}

.descContainer {
  margin-right: 70px;
  margin-left: 10px;
}

.descContainer h1 {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  max-width: 90px;
  margin-bottom: 0px;
}

.descContainer h3 {
  font-size: 14px;
  margin: 10px;
  font-weight: 400;
  margin-top: 0px;
}

.amountContainer {
  margin-right: 0px;
  margin-left: 20px;
  align-items: center;
}

.amountContainer button {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
}

.amountContainer p {
  border: #888;
  padding: 10px;
  border: 1px solid rgb(126, 174, 255);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  text-align: center;
  line-height: 20px;
}

.priceContainer {
  margin-left: 50px;
}

.priceContainer h3 {
  font-weight: 200;
  font-size: 16px;
}

.removeContainer {
  margin-left: 30px;
  margin-right: 10px;
}

.removeContainer button {
  background-color: transparent;
  color: #a8a8a8;
  font-weight: lighter;
  font-size: 18px;
}

.removeContainer button:hover {
  background-color: transparent;
  color: #004eb4;
  font-weight: lighter;
  font-size: 18px;
}

.productList {
  display: flex;
  justify-content: space-between;
}

.productList p {
  margin-left: 30px;
  font-size: 15px;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}

.productList label p {
  color: #849afa;
  margin-left: 30px;
  font-size: 15px;
  margin-right: 40px;
}

.amountContainer {
  display: flex;
}

.cartContainer {
  display: flex;
  color: #888;
  margin-bottom: 0px;
}

.paymentContainer {
  margin-left: 60px;
  margin-left: 20px;
  border-radius: 25px;
  width: 60vh;
  background-color: #bebebe15;
  padding: 25px;
}

.paymentContainer h1 {
  color: #849afa;
  font-weight: 700;
  font-size: 25px;
}

.paymentContainer p label {
  font-weight: bold;
  margin-left: 5px;
}

.confirmOrder button {
  width: 50vh;
  background-color: #849afa;
}

.returnStore button {
  background-color: #b9b9b9;
  margin: 10px;
}

.confirmOrder button:hover {
  width: 50vh;
  background-color: #4f61b8;
}

.containerListSummary {
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.contianer {
  background-color: #88888812;
}
